<h1>log in or sign up with google</h1>
<divclass="plate-box">
  <p>ADD GOOGLE LINK HERE LATER</p>
  </div>

  <p class="account-message">
    <a href="/auth/signup">Sign up</a> or <a href="/auth/signup">log in</a> with a sh*t account instead</a>
  </p>