<h2>Login</h2>

<div class="plate-box">
  <form action="/auth/login" method="POST" id="form-container">
    <label for="email">e-mail</label>
    <input id="email" type="text" name="email" placeholder="hungry@feedme.com">

    <br><br>

    <label for="password">password</label>
    <input id="password" type="password" name="password" placeholder="Your password">
    <br>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <br><br>

    <button>Login</button>
  </form>
</div>

<a href="/auth/google"><button>Or login with Google</button></a>
<p class="account-message">
  No account yet?
  <a href="/auth/signup">Signup</a>
</p>