<h2>Signup</h2>
<div class="plate-box">
  <form action="/auth/signup" method="POST" id="form-container">
    <label for="username">e-mail</label>
    <input id="username" type="text" name="username" placeholder="hungry@feedme.com">

    <br><br>

    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Your password">
    <br>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <br><br>

    <button>Create account</button>
  </form>
</div>

<a href="/auth/google"><button>Or sign up with Google</button></a>

<p class="account-message">
  Do you already have an account?
  <a href="/auth/login">Login</a>
</p>