<h1>add some new sh*t</h1>

<form action="/search" method="get">
  <input id="yelp-input" name="q" class="controls" type="text" style="width: 100vw" placeholder="yelp find your sh*t">
  <input type="text" name="lat" id="lat" style="display: none">
  <input type="text" name="lng" id="lng" style="display: none">
  <button type="submit">search</button>
</form>