<h1>add some new sh*t</h1>
<form action="/search" method="get">
  <input id="yelp-input" name="q" class="controls" type="text" style="width: 100vw" placeholder="yelp find your sh*t">

  <button type="submit">search</button>
</form>