<h1>sh*t I wanna eat</h1>

<div class="index-plate-box">
  {{!-- add plate image --}}
  <a href="/map">add new sh*t</a>
  {{!-- add up arrow, swipe up to add new stuff --}}
  <p>swipe</p>
  {{!-- add down arrow, swipe down to see my list --}}
  <a href="/list">list of my sh*t</a>
</div>