<h1>sh*t I wanna eat</h1>

<div class="plate-box">
  {{!-- add plate image --}}
  <a href="/auth/signup">sign up</a>
  {{!-- add up arrow, swipe up to sign up --}}
  <p>swipe</p>
  {{!-- add down arrow, swipe down to log in --}}
  <a href="/auth/login">log in</a>
</div>