<h1>find some new sh*t</h1>
{{!-- map search bar --}}
<div class="search-container">
  <form id="yelp-search-bar" action="/search" method="get">
    <div class="search-bar">
      <input id="yelp-input" name="q" type="text" placeholder="search that sh*t">
      <button class="search-btn" type="submit">search</button>
    </div>

    <input type="text" name="lat" id="lat" style="display: none">
    <input type="text" name="lng" id="lng" style="display: none">
  </form>
</div>

{{!-- google map --}}
<div class="map-container">
  <div id="map" style="height: 68vh; width: 100%"></div>
</div>

{{!-- google map api for search autocomplete lace ID Geocoder --}}
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7K8xVQEkyXx41h7IqJCPSuhwaipoq5jM&libraries=places&callback=initMap&language=en&region=de"
  async defer></script>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/place/details/json?place_id=ChIJN1t_tDeuEmsRUsoyG83frY4&fields=name,rating,formatted_phone_number&key=AIzaSyC7K8xVQEkyXx41h7IqJCPSuhwaipoq5jM"
  async defer></script>