{{!-- map search bar --}}
<form action="/map" method="get">
  <input id="pac-input" class="controls" type="text" value="find your sh*t">
</form>

{{!-- google map --}}
<div id="map" style="height: 100vh; width: 100%;"></div>

{{!-- googlemap api --}}
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7K8xVQEkyXx41h7IqJCPSuhwaipoq5jM&callback=initMap&language=en&region=de"
  asyncdefer></script>

{{!-- google map api for search autocomplete lace ID Geocoder --}}
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7K8xVQEkyXx41h7IqJCPSuhwaipoq5jM&libraries=places"></script>