{{!-- map search bar --}}
<form action="/search" method="get">
  <input id="pac-input" name="q" class="controls" type="text" style="width: 100vw" placeholder="find your sh*t">
  <button type="submit">search</button>
</form>

{{!-- google map --}}
<div id="map" style="height: 100vh; width: 100%;"></div>

<div class="infowindow">
  <form id="infowindow-content" action="/list" method="post">
    <span id="place-name" class="title"></span><br>
    <strong>Place ID:</strong><span id="place-id"></span><br>
    <span id="place-address"></span>
    <button type="submit">add to my sh*t</button>
  </form>
</div>

{{!-- googlemap api
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7K8xVQEkyXx41h7IqJCPSuhwaipoq5jM&callback=initMap&language=en&region=de"
  async defer></script>
 --}}

{{!-- 
{{!-- google map api for search autocomplete lace ID Geocoder --}}
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7K8xVQEkyXx41h7IqJCPSuhwaipoq5jM&libraries=places&callback=initMap&language=en&region=de"
  async defer></script> --}}